.container{
    background-color: #1f3037;
    height: 1200px;
    width: 800px;
    outline: 2px dotted red;
    margin: 0 auto;
}





/* ============================================== */

.header{
    height: 227px;
    width: 800px;
    outline: 2px dotted red;
}

.top-head{
    outline: 2px dotted red;
    width: 800px;
}
.top-head h1{
    width: 714px;
    height: 34px;
    outline: 2px dotted red;
    display: inline-block;
    color: white;
    vertical-align: top;
    margin: 0px;
    margin-bottom: 11px;
    padding: 12px;
}
#logo-pic {
    display: inline-block;
    outline: 2px dotted red;
    vertical-align: top;
    height: 48px;
}
.mid-head{
    outline: 2px dotted red;

}
.mid-head h2{
    display: inline-block;
    outline: 2px dotted red;
    color:white;
    
}

#banner-pic {
    width: 800px;
}

/* ==================================================== */

.main-body-container {
    width:800px;

}

/* ================================= */
.side-bar {
    height: 500px;
    width: 175px;
    display: inline-block;
    outline: 2px dotted red;
    vertical-align: top;
}

.search{
    height: 49px;
    width: 129px;
    outline: 2px dotted red;
    margin-left: 23px;
    
}

.search p{
    font-size:10px;
    outline: 2px dotted red;
    margin:0px;
    color:white;
    
}
.search input{
    height: 15px;
    width:100px;
    display: inline-block;
    outline: 2px dotted red;
    
    
}
.search img{
    margin-top:2px;
    display: inline-block;
    outline: 2px dotted red;
    
}


/* ============================================================= */
.main-body {
    height: 500px;
    width: 609px;
    display: inline-block;
    background-color: #294344; 
    border-radius: 30px;
    
}
.main-text-body{
    height: 700px;
    width: 401px;
    outline: 2px dotted red;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}
.main-text-body h1{
    color:white;
    font-size: 20px;
    font-weight: bold; 
    
}
.main-text-body p{
    color:white;
    font-size: 12px;
}
.main-text-body span{
    color:#c9e582;
}
.small-borders{
    height: 5px;
    width: 420px;
    border:#426763;
}
.right-text-side{
    height: 700px;
    width: 177px;
    outline: 2px dotted red;
    display: inline-block;
}






/* ====================================== */






